
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="row">
<!--         <img src="./images/baidu.png" width="100" height="45" style="margin-top: -10px">
 -->      
      <a ui-sref="shouye" class="navbar-left"><img src="./images/pansou.svg" width="100" height="45" style="margin-top: -10px"></a>
      <div id="custom-search-input">

          <div class="input-group col-md-10">
              <input type="text" id="focuseonload" autofocus style="margin-bottom:16px;  " class=" search-query form-control" ng-model="searchlist.query.value" placeholder="Search" ng-keyup="$event.keyCode == 13 && searchlist.submit()" />
              <span class="input-group-btn" style="margin-bottom:17px;  ">
              <!-- <img src="./images/search.png" > -->
                  <button ng-click="searchlist.submit()" class="btn btn-success" type="button">
                      
                      <span class="glyphicon glyphicon-search"></span>
                  </button>
              </span>
              <ul class="nav navbar-nav navbar-right">
              <!-- <li><a href="#">+ Adam</a></li>
              <li><a href="#Mail">Gmail</a></li>
              <li><a href="#contact">Images</a></li> -->
              <li><a href="#contact"><i class="fa fa-th"></i></a></li>
              <li><a href="#contact"><i class="fa fa-bell"></i></a></li>
              <li><a href="#contact"><i class="fa fa-share-alt"></i></a></li>
              <li><login-buttons></login-buttons></li>
            </ul>
          </div>
          <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> -->
          <!--   <ul class="nav navbar-nav navbar-right">
             
              <li><a href="#contact"><i class="fa fa-th"></i></a></li>
              <li><a href="#contact"><i class="fa fa-bell"></i></a></li>
              <li><a href="#contact"><i class="fa fa-share-alt"></i></a></li>
              <li><login-buttons></login-buttons></li>
            </ul> -->
      <!-- </div> -->
      </div>
      

    </div>
  </nav>

<div class="searchlistcontainer">

    <hgroup class="mb20">
      <h1>Search Results</h1>
      <h2 class="lead"><strong class="text-danger">{{searchlist.realCount}}</strong> were found for the search for <strong class="text-danger">{{searchlist.query.value}}</strong></h2>               
    </hgroup>

    <section class="col-md-6 ">

    <!--  <p  ng-if="searchlist.realCount" style="font-size:20px;max-width=200px; word-wrap:break-word;">
          <font color="red">Pan Sou_问题小哥哥提醒：关键词{{searchlist.query.value}}，未搜到结果！
          </font>
     </p>  -->   

    <p ng-if="searchlist.resultsCount">
      <!-- <p ng-if="searchlist.results.count">  col-md-offset-5-->
     <!--  <li ng-repeat="item in searchlist.results">{{item.title}}</li>
      </p> -->
      <li class="list-group-item list-group-item-success" dir-paginate="item in searchlist.results | itemsPerPage: searchlist.perPage" total-items="searchlist.resultsCount">
     
         <article class="search-result row">
          <div class="col-md-11 excerpet">
            <a href="{{item.link}}" style="font-size:16px;color:#1f4fcd;text-decoration:underline;" target="_blank">{{item.title}}</a>
              <p style="font-size:14px;max-width=200px; word-wrap:break-word;">{{item.snippet}}</p>
              <p style="font-size:14px;max-width=200px; word-wrap:break-word;">人工复制后面地址,然后在新的页面打开：
                <font color="red">{{item.htmllink}}
                </font>
              </p>     
          </div>
        </article>

      </li>
      <dir-pagination-controls on-page-change="searchlist.pageChanged(newPageNumber)"></dir-pagination-controls>
    </p>
   </section>

    <section class="col-md-6 ">
<!-- <script type="application/javascript" ng-lazy-load="http://xxa.zgcanglong.com/page/s.php?s=1602&w=728&h=90"></script>--><!-- not working -->
<!-- <ngInclude src="http://xxa.zgcanglong.com/page/s.php?s=1602&w=728&h=90">  </ngInclude>--><!-- not working -->
<div lazy-load ><p>not working </p></div> 

<lazy-load></lazy-load>
<!--    <div ng-controller="angularLoad">  
<div data-ng-init="loadScript('http://xxa.zgcanglong.com/page/s.php?s=1602&w=728&h=90')" >
</div>   --><!-- not working -->


  
     <p ng-if="searchlist.resultsCount">
      <!-- <p ng-if="searchlist.results.count">  col-md-offset-5-->
     <!--  <li ng-repeat="item in searchlist.results">{{item.title}}</li>
      </p> -->
      <li class="list-group-item list-group-item-success" dir-paginate="item in searchlist.results | itemsPerPage: 20" total-items="20">
     
         <article class="search-result row">
          <div class="col-md-11 excerpet">

           
 <!-- <script type="application/javascript" ng-src="http://xxa.zgcanglong.com/page/s.php?s=1602&w=728&h=90?render=explicit&onload=vcRecaptchaApiLoaded"></script> -->

         <!--  <script type="text/javascript-lazy" src="http://xxa.zgcanglong.com/page/s.php?s=1602&w=728&h=90"> </script> -->

<!--             <script src="http://y.xm9178.com/fw.html/7592/1/"></script>
 -->            
 <!-- <a href="http://xxa.zgcanglong.com/iclk/?zoneid=1596&uid=2742" style="font-size:16px;color:#1f4fcd;text-decoration:underline;" target="_blank">广告在这里</a>
ad -->

              <!-- <p style="font-size:14px;max-width=200px; word-wrap:break-word;">广告图片</p> -->
          </div>
        </article>

      </li>
      <!-- <dir-pagination-controls on-page-change="searchlist.pageChanged(newPageNumber)"></dir-pagination-controls> -->
    </p>

    </section>

<!-- 
        <article class="search-result row">
      <div class="col-xs-12 col-sm-12 col-md-3">
        <a href="#" title="Lorem ipsum" class="thumbnail"><img src="http://lorempixel.com/250/140/food" alt="Lorem ipsum" /></a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-2">
        <ul class="meta-search">
          <li><i class="glyphicon glyphicon-calendar"></i> <span>02/13/2014</span></li>
          <li><i class="glyphicon glyphicon-time"></i> <span>8:32 pm</span></li>
          <li><i class="glyphicon glyphicon-tags"></i> <span>Food</span></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-7">
        <h3><a href="#" title="">Voluptatem, exercitationem, suscipit, distinctio</a></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, exercitationem, suscipit, distinctio, qui sapiente aspernatur molestiae non corporis magni sit sequi iusto debitis delectus doloremque.</p>            
                <span class="plus"><a href="#" title="Lorem ipsum"><i class="glyphicon glyphicon-plus"></i></a></span>
      </div>
      <span class="clearfix borda"></span>
    </article> 

  <article class="search-result row">
      <div class="col-xs-12 col-sm-12 col-md-3">
        <a href="#" title="Lorem ipsum" class="thumbnail"><img src="http://lorempixel.com/250/140/sports" alt="Lorem ipsum" /></a>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-2">
        <ul class="meta-search">
          <li><i class="glyphicon glyphicon-calendar"></i> <span>01/11/2014</span></li>
          <li><i class="glyphicon glyphicon-time"></i> <span>10:13 am</span></li>
          <li><i class="glyphicon glyphicon-tags"></i> <span>Sport</span></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-7">
        <h3><a href="#" title="">Voluptatem, exercitationem, suscipit, distinctio</a></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, exercitationem, suscipit, distinctio, qui sapiente aspernatur molestiae non corporis magni sit sequi iusto debitis delectus doloremque.</p>            
                <span class="plus"><a href="#" title="Lorem ipsum"><i class="glyphicon glyphicon-plus"></i></a></span>
      </div>
      <span class="clearfix border"></span>
    </article>      --> 


</div>